
.signup{
    margin-left: 500px;
    margin-top: 10px;
    background-color: rgb(50, 19, 79);
    width: 600px;
    height: 700px;
    padding: 20px;
    border-radius: 50px;

}
body{
background-color: rgb(220, 181, 220);
background-image: url(photos/Purple\ colourful\ background\ poster.jpeg);
background-repeat: no-repeat;
background-size: 100%;
}


label{
    color: rgb(214, 153, 163);
    margin-left: 60px;
}
input{
    border: solid 1px;
    width:400px;
    height: 50px;
    border-radius: 7px;
    background-color: rgb(236, 217, 220);
    margin-left: 60px;
}
.SIGN{
    background-color: rgb(204, 152, 160);
    width: 200px;
    height: 50px;
    border-radius: 7px;
    margin-left: 130px;

}
.h1{
    color: rgb(211, 175, 175);
    margin-left: 70px;
}

.login{
    margin-left: 600px;
    margin-top: 80px;
    border-radius: 10px;
    background-color: rgb(50, 19, 79);
    width: 500px;
    padding: 40px;
}
.LOG{
    background-color: rgb(204, 152, 160);
    width: 200px;
    height: 50px;
    border-radius: 7px;
    margin-left: 75px;
}

.start{
    text-align: center;
}

.mentor{
    width: 300px;
    border-radius: 50%;
    height: 300px;

}
.mercy{
    text-align: center;
    font-size: large;
}
.Mh1{
    text-align: center;
margin-top: 50px;}
.img2{
    width: 70%;
}
#navbar ul{
    display: flex;
    justify-content: space-around;
    gap: 40px;
    }
    #navbar li {
        display: inline-block;
     margin-top: 10px;
     margin-left: 100px;
     gap: 10px;
              }
header{
    display: flex;
}
#nav-bar a{
    text-decoration: none;
color: rgb(84, 29, 84);
    font-size: large;
}
 
  .begin{
background-color: rgb(71, 38, 71);
color: plum;
border-radius: 10px;
width: 200px;
height: 50px;
}
.icon{
    width: 500px;
}
.goal{
    text-align: center;
}

